<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入Vue -->
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <h1>学校信息</h1>
        <h2>名字：{{name}}</h2>
        <hr />
        <h1>学生信息</h1>
        <button @click="addSex">添加一个性别属性，默认为男</button>
        <h2>姓名：{{student.name}}</h2>
        <h2 v-if="student.sex">性别：{{student.sex}}</h2>
        <h2>年龄：{{student.age}}</h2>
        <h2>朋友</h2>
        <ul>
            <li v-for="(f,index) in student.friends" :key="index">
                {{f.name}}--{{f.age}}
            </li>
        </ul>
    </div>
    <script>
        Vue.config.productionTip = false;// 设置为 false 以阻止 vue 在启动时生成生产提示
        const vm = new Vue({
            el: '#root',
            data: {
                name: 'tom',
                student: {
                    name: 'Jack',
                    age: 20,
                    friends: [
                        { name: 'Bob', age: 22 },
                        { name: 'Ming', age: 30 }
                    ]
                }
            },
            methods: {
                addSex() {
                    // Vue.set():对象不能是Vue实例，或者Vue实例的跟数据对象（data/_data）
                    Vue.set(this.student,'sex','男')
                    // this.$set(this.student, 'set', '男')
                }
            }
        });
    </script>
</body>

</html>